############################
# Terraform
############################
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
bootstrap.sh 
makefile
bootstrap.py
app/backups/*
############################
# Secrets
############################
*.pem
*.key
secrets.*
private*
keystore/

############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/
ENV
.env
.env.*
contracts/.env
# but KEEP example templates
!.env.example
!contracts/.env.example
# Packaging
build/
dist/
*.egg-info/

############################
# Node
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Builds
############################
dist/
build/
.next/
out/

############################
# Cache
############################
.cache/
.turbo/
.eslintcache
coverage/

############################
# Hardhat
############################
artifacts/
cache/
typechain/
contracts/typechain-types/
############################
# Project big stuff (CMFD)
############################
data/
runs/
outputs/
logs/
checkpoints/
models/

# Large artifacts
*.pt
*.pth
*.pkl
*.ckpt
*.tar
*.gz
*.7z
*.zip

############################
# OS junk (macOS / Windows)
############################
.DS_Store
.AppleDouble
.LSOverride

# macOS system folders
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
.apdisk

# Windows
[Tt]humbs.db
ehthumbs.db
Desktop.ini

############################
# Editors / IDEs
############################
# VS Code
.vscode/
.vscode/*

# Sublime Text
*.sublime-project
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
sftp-config.json

# JetBrains / Rider / PyCharm
.idea/

############################
# Visual Studio / .NET junk
############################
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
[Bb]uild/
_ReSharper*/
*.resharper
TestResult*

############################
# Version control remnants
############################
.svn/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local